<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/login.css" media="all">
    <style>
        body {
            background: url("/images/bgi.jpg") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2>Regist</h2>
                    <p>个人资金账户管理系统注册页面</p>
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                               for="LAY-user-login-username"></label>
                        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                               placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                               for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass"
                               placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                               for="confirm-password"></label>
                        <input type="password" name="confirm-password" id="confirm-password" lay-verify="repass"
                               placeholder="确认密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-face-smile"
                               for="nickname"></label>
                        <input type="text" name="nickname" id="nickname" lay-verify="required"
                               placeholder="昵称" class="layui-input">
                    </div>
                    <!--滑块验证-->
                    <div class="layui-form-item">
                        <div id="slider"></div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">注 册
                        </button>
                    </div>
                    <div>
                        <a href="/login">
                            <button id="see" class="layui-btn layui-btn-fluid layui-btn-normal">已有账号，直接登录
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-trans layadmin-user-login-footer">

        <p>© 2021 lsyweb.top</p>
    </div>
</div>

</div>

<script src="../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user', 'layer', 'sliderVerify'], function() {
        var $ = layui.$
            , setter = layui.setter
            , admin = layui.admin
            , form = layui.form
            , router = layui.router()
            , search = router.search
            , layer = layui.layer
            , sliderVerify = layui.sliderVerify;

        form.render();

        var slider = sliderVerify.render({
            elem: '#slider'
        });

        //提交
        form.on('submit(LAY-user-login-submit)', function(obj) {
            // 只要提交，重置滑块
            slider.reset();

            // 检测确认密码是否正确
            if ($('#LAY-user-login-password').val() != $('#confirm-password').val()) {
                layer.msg("两次密码不一样", {icon: 2});
                return false;
            }

            //请求注册接口
            admin.req({
                url: '/regist'
                , method: 'post'
                , data: obj.field
                , done: function(res) {
                    if (res.code === 0) {
                        //注册成功的提示与跳转
                        layer.msg('注册成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function() {
                            location.href = "/"; //跳转到登录页
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }


                }
            });

        });

    });
</script>
</body>
</html>